@use "../00-settings/variables";

:root {
  --background-color: #{variables.$background-color};
  --background-closer-color: #{variables.$background-color-closer};
  --text-color: #{variables.$text-color};
  --text-gray: #{variables.$text-gray};
  --text-white: #{variables.$text-white};
  --primary-color: #{variables.$primary-color};

}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  font-family: #{variables.$roboto-regular};
}