@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplayBoldItalic';
  src: url('/fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

$roboto-regular: 'RobotoRegular', sans-serif;
$roboto-bold: 'RobotoBold', sans-serif;
$playfair-bold: 'PlayfairDisplayBold', serif;
$playfair-bold-italic: 'PlayfairDisplayBoldItalic', serif;
