@use "../00-settings/variables" as v;

.header{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  position: sticky;
  top: 1rem;
  transition: top .3s ease;
  letter-spacing: -2px;
  font-family: v.$playfair-bold-italic;
  color: v.$primary-color;
}
