@use "../00-settings/variables" as v;

.input{
    width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
        outline: none;
        border-color: v.$primary-color;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

}